*{
    padding: 30px;
    margin: 0;
}
form{
    font-size: 30px;
    align-items: center;
    margin: 5px;
    padding-bottom: 35px;
    background: rgba(3, 12, 97, 0.133);
    text-align: center;
    box-shadow: black 3px 3px 10px;
    width: 350px;
    height: 400px;
    padding-top: 30px;
    margin: auto;

}
form input[type="text"]{
    width: 260px;
    height: 5px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
form input[type="button"]{
border: none;
margin: 5px;
background: rgba(177, 177, 177, 0.835);
color: #fff;
cursor: pointer;
}
form input[type="button"]:hover{
    background:gray;
}
